<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parallax animation</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">
        <h1 style="color: rgb(71, 71, 69);">SherlockTory</h1>
        <nav class="navbar">
            <a href="#" class="active">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="./components/chapter.html">Read now</a>
            <a href="#">Contact</a>
         </nav>   

    </header>
    <div class="container">
        <div class="parallax">
            <div class="bg"></div>
            <div class="e1"></div>
            <div class="content">The Valley of Fear</div>
            <img src="https://cdn.pixabay.com/photo/2017/10/24/14/58/bat-2884805_1280.png" 
            alt="" class="e1">
            <img src="https://pngimg.com/d/light_PNG14444.png" alt=""
            class="e2">
        </div>
        <div class="static">
            <h1 class="title1">CHAPTER 1 <br>The Warning </h1>   <h2></h2>        
            <p class="title1"> Chapter 1</p>
            <br>
            
            <h2>THE WARNING</h2>
        
        </div>
        <div class="static2">
            <p>I am inclined to think—” said I.<br><br>
                “I should do so,” Sherlock Holmes
                remarked impatiently.<br><br>
                I believe that I am one of the most
                long-suffering of mortals; but I’ll admit that I was
                annoyed at the sardonic interruption.<br><br>
                “Really, Holmes,” said I severely, “you are a
                little trying at times.”<br><br>
                He was too much absorbed with his own
                thoughts to give any immediate answer to my remonstrance. He leaned upon his hand, with his
                untasted breakfast before him, and he stared at the
                slip of paper which he had just drawn from its envelope. Then he took the envelope itself, held it
                up to the light, and very carefully studied both the
                exterior and the flap.<br><br>
                “It is Porlock’s writing,” said he thoughtfully. “I
                can hardly doubt that it is Porlock’s writing, though
                I have seen it only twice before. The Greek e with
                the peculiar top flourish is distinctive. But if it is
                Porlock, then it must be something of the very first
                importance.”<br><br>
                He was speaking to himself rather than to me;
                but my vexation disappeared in the interest which
                the words awakened.<br><br>
                “Who then is Porlock?” I asked.<br><br>
                “Porlock, Watson, is a nom-de-plume, a mere
                identification mark; but behind it lies a shifty and
                evasive personality. In a former letter he frankly
                informed me that the name was not his own, and
                defied me ever to trace him among the teeming
                millions of this great city. Porlock is important,
                not for himself, but for the great man with whom
                he is in touch. Picture to yourself the pilot fish
                with the shark, the jackal with the lion—anything
                that is insignificant in companionship with what is
                formidable: not only formidable, Watson, but sinister—in the highest degree sinister. That is where
                he comes within my purview. You have heard me
                speak of Professor Moriarty?”</p>
        </div>

    </div>
</body>
</html>